@use "../../style/abstract/shared" as *;

.musicCard {
  background: rgba($gray, 0.2);
    border: 1px solid rgba($blue, 0.1);
    border-radius: 20px;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    backdrop-filter: blur(10px);
    transition:
      transform 0.3s ease,
      border-color 0.3s ease,
      background 0.3s ease;
    position: relative;
    overflow: hidden;

    &:hover {
      transform: translateY(-5px);
      border-color: $blue;
      background: rgba($gray, 0.4);
    }

  & a {
    color: $white;
    text-decoration: none;
  }
  & a:hover,
  a:focus {
    text-decoration: underline;
  }
}
