@use "../../style/abstract/shared" as *;

.musicCard {
  padding: 3vh;
  border: 1px solid $blue;

  & a {
    color: $blue;
    text-decoration: none;
  }
  & a:hover,
  a:focus {
    text-decoration: underline;
  }
}
