@use "./variables" as *;

@mixin reset {
  * {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    border: none;
    background: none;
  }
}

@mixin flex($direction:row, $justify:start, $align:start, $gap:0) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
}