// FFFFFB blanc
// 313742 bleu foncé
// 5A6A7C bleu gris
// A2EBF0 bleu clair
// DB3069 rose

@use "../../style/abstract/shared" as *;

$color-btn: (
  "drums": blue,
  "synth": red,
  "bass": pink,
  "vocals": purple,
  "fx": green,
  "percussion": rgb(248, 248, 67),
  "ambient": orange,
  "loop": cyan,
);

.playboard {
  height: auto;
  width: auto;
  background: $white;
  @include flex(
    $direction: column,
    $justify: space-between
  );

  padding: 1rem;
  border-radius: 1rem;
  border: 0.4rem solid $blue;
  &__line {
    width: auto;
    height: auto;
    @include flex(
      $align: center,
      $justify: space-around
    );

    &__btn-container-play {
      margin: 1.5rem;
      height: 6vh;
      width: 6vh;

      border-radius: 0.2rem;
      border: none;

      background: $gray;
      &:hover {
        background-color: $rose;
      }
    }
  }
}

@each $tag, $color in $color-btn {
  .#{$tag} {
    background: $color;
  }
}
