.profile{
    background-color:  #313742;
    margin:5vw;

    &__title,&__informations{
        color:#FFFFFB
    }



    &__lastMusicsTitle{
        color: #A2EBF0;
    }

    &__musicsGrid{
        padding: 1vw;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 10px;
        grid-template-rows: auto};
        column-gap: 100px
    }

@media screen and (min-width:780px) {
    .profile{
        &__musicsGrid{
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

