@use "../../style/abstract/shared" as *;

.profile{
    margin:5vw;
    // height: 80vh;
    flex:1;
    &__header{
        @include flex(
            $direction: column,
            $align: center,
            $justify: flex-end,
            $gap: gap("lg")
        );

        margin-bottom: 5vh;
    }

    &__profileLogo{
        width: 10vw;
        color: $blue;
        background: rgba($white, 0.2);
        border: 1px solid rgba($blue, 0.1);
        border-radius: 50%;
        backdrop-filter: blur(10px);
        padding: 1.5rem;
    }

  &__title {
    color: $white;
  }

  &__lastMusicsTitle {
    color: $blue;
  }

  &__musicsGrid {
    padding: 1vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    grid-template-rows: auto;
  }
  column-gap: 100px;
}

@media screen and (min-width: 780px) {
  .profile {
    &__musicsGrid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
