$color-btn: (
  "drums": blue,
  "synth": red,
  "bass": pink,
  "vocals": purple,
  "fx": green,
  "percussion": rgb(248, 248, 67),
  "ambient": orange,
  "loop": cyan,
);

.playboard {
  height: auto;
  width: auto;
  background: #fffffb;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 1rem;
  border: 0.4rem solid #a2ebf0;
  &__line {
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    // background-color: blue;
    &__btn-container-play {
      margin: 1.5rem;
      height: 10vh;
      width: 10vh;

      border-radius: 0.2rem;
      border: none;

      background: #5a6a7c;
      &:hover {
        background: #db3069;
      }
    }
  }
}
@each $tag, $color in $color-btn {
  .#{$tag} {
    background: $color;
  }
}
