// FFFFFB blanc
// 313742 bleu foncé
// 5A6A7C bleu gris
// A2EBF0 bleu clair
// DB3069 rose

@use "../style/abstract/variables" as *;

.playboard {
  height: auto;
  width: auto;
  background: $white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 1rem;
  border: 0.4rem solid $blue;
  &__line {
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    // background-color: blue;
    &__btn-container-play {
      margin: 1.5rem;
      height: 10vh;
      width: 10vh;

      border-radius: 0.2rem;
      border: none;

      background: $gray;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.2s;

      &:hover {
        background-color: $rose;
      }

      &.has-sound {
        background-color: $blue;
        border: 2px solid $white;

        &:hover {
          background-color: $rose;
          transform: scale(1.05);
        }
      }

      .pad-icon {
        font-size: 2rem;
        pointer-events: none;
      }
    }
  }
}
