@use "../../style/abstract/shared" as *;
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  height: 6vh;
  background-color: $blue;

  &__logo {
    height: 100%;
  }
  &__profile {
    height: 100%;
    width: auto;
    @include flex($justify: end, $align: center);
  }
  &__profileLogo {
    height: 60%;
  }
}
