@use "../../style/abstract/shared" as *;

.footer {
  padding: 1vh 0 1vh 0;
  @include flex(column, space-around, center);
  height: 5vh;
  background: rgba(162, 235, 240, 0.6);
  align-items: center;
  color: $white;
}
