@use "../../style/abstract/shared" as *;
.left {
  opacity: 0.9;
  background-color: $blue;
  width: 30%;
  height: 100vh;
  .logo {
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
